div#login-box {
	height: 350px;
	width: 350px;
	position: relative;
	margin: auto;
	top: 150px;
	border: 1px solid var(--primary-color);
	border-radius: 20px;
	padding: 20px;
}
#login-header{
	margin-top: 10px;
	margin-bottom: 20px;
}
.msg-box {
    position: relative;
    top: 165px;
    margin: auto;
    text-align: center;
    color: red;
}