:root{
	/*--primary-color: #6cf;*/
	--primary-color: #0FBCF9;
	--primary-dark: #2191FC;
	--primary-dark-2: #3366FF;
	--primary-light: #57D0FB;
	--primary-light-2: #9FE4FD;
}
html, body{
	height: 100%;
}
body{
	padding-bottom: 50px;
}
.container{
	position: relative;
	min-height: 100%;
}

@media (min-width: 992px){
	#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
		background: var(--primary-light-2);
	}
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item>.nav-link {
	color: #555;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item>.nav-link:hover {
	color: #000;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level {
	background: var(--primary-light-2);
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a {
	color: #555;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
	background-color: var(--primary-color);
}
body.sticky-footer {
	margin-bottom: unset; 
}
@media (min-width: 992px){
	a.navbar-brand {
		background-color: #0fbcf9;
		position: absolute;
		left: 0px;
		height: 100%;
		padding: 5px 18px;
		line-height: 20px;	
	}
}
nav#mainNav {
	background-color: #fff;
	box-shadow: 1px 3px 15px 2px #eee;
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
	color: #fff;
}
.navbar-brand>span {
    font-size: 14px;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a:hover, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a:hover {
    color: #000;
}
footer.sticky-footer {
    position: fixed;
}
div#contents {
    padding-bottom: 80px;
}
.bg-primary-light-2{
  background-color: var(--primary-light-2);
}
.btn-primary{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover{
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}
.border-primary{
  border: 1px solid;
  border-color: var(--primary-light-2) !important;
}