:root{
	/*--primary-color: #6cf;*/
	--primary-color: #0FBCF9;
	--primary-dark: #2191FC;
	--primary-dark-2: #3366FF;
	--primary-light: #57D0FB;
	--primary-light-2: #9FE4FD;
}
html, body{
	height: 100%;
}
body{
	padding-bottom: 50px;
}
.container{
	position: relative;
	min-height: 100%;
}
.bg-dark {
  background-color: var(--primary-color) !important;
}

@media (min-width: 992px){
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #fff;
  }
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item>.nav-link {
    color: var(--primary-color);
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item>.nav-link:hover {
    color: #ddd;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level {
    background: var(--primary-dark);
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a {
    color: #fff;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
    background-color: var(--primary-light);
}
body.sticky-footer {
     margin-bottom: unset; 
}